.rd-grid {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100%;
	padding-top: 0;
	z-index: 101;
	pointer-events: none;


	.container {
		display: none;
	}

	&.is-visible .container {
		display: grid;
	}

	.col {
		position: relative;
		background: rgba(blue, 0.12);
		height: 100vh;
	}

	&__toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px;
    @apply bg-white;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 98;
    border-top-right-radius: 3px;
		pointer-events: all;
		color: #000;
  }
}