@layer utilities {
  .full-screen {
    width: 100vw;
    margin-left: calc((var(--wm-body-spacing)*-1));
    padding-right: var(--wm-body-spacing);
    padding-left: var(--wm-body-spacing);
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .rounded-border {
    border: 1px solid black;
    border-bottom: 0;
    border-top-right-radius: 20%;
  }

  @layer responsive {
    .d-grid {
      @apply grid grid-cols-12 gap-30;
    }

    .is-mobile {
      @apply block md:hidden;
    }

    .is-desktop {
      @apply hidden md:block;
    }
  }
}

body::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
	background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
	display:none;
}