@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    @apply font-sans text-16 text-black;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, .title-1 {
    @apply text-30 md:text-40 lg:text-50 font-bold mb-20;
  }
  
  h2, .title-2 {
    @apply text-25 md:text-30 lg:text-40 font-bold mb-20;
  }
  
  h3, .title-3 {
    @apply text-25 lg:text-30 font-bold mb-20;
  }

  h4, .title-4 {
    @apply text-20 lg:text-25 font-bold mb-20;
  }

  h5, .title-5 {
    @apply text-25 font-normal mb-20;
  }

  h6, .title-6 {
    @apply text-20 font-bold mb-20;
  }

  .title-sm {
    @apply text-18 font-bold mb-20;
  }

  .title-secondary {
    @apply block uppercase text-primary font-normal mb-20;
  }

  p {
    @apply mb-20;
  }

  .btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 40px;
    @apply bg-primary text-white font-bold;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;

    @screen lg {
      text-align: left;
    }

    &:hover, &:focus {
      @apply bg-secondary text-white;

      svg path {
        @apply stroke-white;
      }
    }
  }

  picture {
    position: relative;
    display: block;
  }

  blockquote {
    cite {
      display: block;
      font-style: normal;
    }
  }

  table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    @apply border border-primary;

    thead, tfoot {
      @apply bg-primary text-white;

      th, td {
        border-left: 0;
        @apply font-normal text-left;
      }
    }
    
    tr {
      border-bottom: 1px solid #ccc;
    }

    th, td {
      @apply p-15 border-l border-primary;
    }
  }
}

:root {
  --header-height: 80px;
}