.badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 10px 26px;
  @apply bg-primary text-white;
  font-size: 14px;
  border-radius: 30px;

  &--secondary {
    @apply bg-secondary;
  }
}