.card {
  position: relative;
  display: block;
  width: 100%;
  max-width: 420px;
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;

  &__visual {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      transition: transform 0.26s;
      @apply ease-smooth;
    }

    svg {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
    }

    .badge {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
    }
  }

  &__content {
    padding-top: 15px;
  }

  &__icons {
    display: flex;
    gap: 25px;

    svg {
      height: 16px;
      width: auto;
    }

    p {
      font-size: 15px;
      margin-bottom: 0;
      padding-top: 10px;
    }
  }

  h3 {
    @apply text-18 font-normal;
  }

  .price {
    font-size: 22px;
  }

  &:hover {
    .card__visual img {
      transform: scale(1.12);
    }
  }
}