.g-footer {
  @apply bg-primary text-white py-80 overflow-hidden;

  a {
    transition: color 0.3s ease;
    &:hover {
      @apply text-bluelight;
    }
  }

  .icon-social {
    height: 24px;
    width: auto;
  }
  &__socials {
    @apply flex justify-start gap-[12px] lg:mb-0;

    a {
      position: relative;

      svg path {
        transition: fill 0.3s ease;
      }

      &:hover svg path {
        @apply fill-magenta;
      }
    }
  }

  &__nav {
    @apply flex flex-col gap-15 lg:flex-row lg:items-center lg:justify-center;
  }

  &__footer {
    font-size: 12px;
    @apply flex flex-col md:flex-row md:justify-center gap-x-20;
  }
}
