@mixin linksNav {
  a:not(.btn),
  button:not(.btn) {
    @apply text-primary hover:text-magenta transition-colors duration-200 title-secondary;
  }
}

.g-header {
  position: fixed;
  top: 30px;
  min-width: 100%;
  z-index: 100;
  transition:
    top 0.3s ease,
    background-color 0.1s ease;
  @include linksNav();

  body.header-scroll & {
    top: 0px;
    background-color: white;
    @apply shadow-md;
  }
  body.menu-open & {
    top: -200px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 20px);
    padding: 12px 4%;
    transition:
      padding 0.5s ease,
      border-radius 0.5s ease;

    @apply bg-white shadow-xl rounded-10  2xl:mx-auto;

    body.header-scroll & {
      padding: 15px 0%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      @apply shadow-none;
    }
  }

  &__nav {
    display: none;
    justify-content: space-between;
    width: 100%;
    @apply 2xl:flex;
  }

  &__subnav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    @apply sm:mr-40;
  }

  .submenu {
    position: relative;
    &__subnav {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 10px;
      padding: 20px;
      background-color: white;
      top: 70px;
      left: -20px;
      transform: translateX(-40px);
      transform: scaleY(0);
      transform-origin: 100% 0%;
      margin-top: -50px;
      padding-top: 40px;
      transition:
        transform 0.2s ease,
        scale 0.2s ease;

      &--services {
        width: 190px;
      }
    }
    &__button {
      position: relative;
      @apply title-secondary flex gap-10 items-center;
      svg {
        transform: rotate(90deg);
        transition: transform 0.2s ease;
      }
    }
    &:hover {
      .submenu__subnav {
        transform: scaleY(1);
      }
      .submenu__button svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.menu-burger {
  position: relative;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-block: auto;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }

  @screen 2xl {
    display: none;
  }

  span {
    display: inline-block;
    width: 100%;
    height: 4px;
    transition: all 0.12s linear;
    @apply bg-primary;
  }
}

body.menu-open {
  overflow: hidden;

  .menu-burger span {
    &:first-child {
      transform-origin: 50% 50%;
      transform: rotate(45deg) translateY(11px) translateX(4px) scale(0.7);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      transform-origin: 50% 50%;
      transform: rotate(-45deg) translateY(-11px) translateX(4px) scale(0.7);
    }
  }
}

.nav-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  z-index: 150;
  transform: translateX(500px);
  transition: transform 0.5s ease;
  @apply bg-white;
  @include linksNav();

  body.menu-open & {
    transform: translateX(0px);
  }

  &__header {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 15px 20px;
    justify-content: space-between;
    border-radius: 10px;
    @apply shadow-md;
  }

  &__subnav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    padding-top: 30px;
  }
  .submenu {
    &:hover {
      .submenu__button.closed svg {
        transform: rotate(-90deg);
      }
      .submenu__subnav.closed {
        transform: scaleY(1);
      }
    }

    &__button {
      display: flex;
      width: 100%;
      justify-content: space-between;
      svg {
        transform: rotate(90deg);
        transition: transform 0.2s ease;
      }
    }

    &__button.closed {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
    }

    &__subnav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 20px;
      padding-left: 20px;

      &.closed {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        transition: transform 0.3s ease;
      }
    }
  }
}
