.slider-cards {
  &--container {
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }
}

.swiper-button {
  @apply bg-white;
  width: 48px !important;
  height: 48px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  padding: 12px;
}

.swiper-button.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #b1b1b1;
  --swiper-pagination-color: #16cffb;
}

.slider-photos {
  padding-bottom: 40px !important;
  &__visual {
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: 35/30;
    }
  }
  .swiper-pagination {
    position: relative;
    overflow: visible;
    bottom: -40px !important;
  }
}

.slider-testimonies {
  margin-bottom: 20px;
  padding-top: 120px !important;
  @screen lg {
    padding-block: 40px !important;
  }

  .swiper-pagination {
    position: relative;
    overflow: visible;
    bottom: -40px !important;
  }
  .swiper-button-testimonies {
    top: 60px;
    @screen lg {
      top: 25px;
    }
  }

  .swiper-button-next {
    right: calc(50% - 58px);
    @apply lg:right-20;
  }

  .swiper-button-prev {
    left: calc(50% - 58px);
    @apply lg:left-20;
  }
}
