.slider-cards {
  &--container {
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
  }
}

.swiper-button {
  @apply bg-primary;
  width: 40px !important;
  height: 40px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;

  &:after {
    color: #fff;
    font-size: 18px !important;
    font-weight: bold;
  }

  &-cards {
    &.swiper-button-prev {
      left: -20px;

      @screen xl {
        left: -60px;
      }
    }

    &.swiper-button-next {
      right: -20px;

      @screen xl {
        right: -60px;
      }
    }
  }
}

.swiper-button.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #b1b1b1;
  --swiper-pagination-color: #16cffb;
}

.slider-photos {
  padding-bottom: 40px !important;
  &__visual {
    width: 100%;
    img {
      width: 100%;
      aspect-ratio: 35/30;
    }
  }
  .swiper-pagination {
    position: relative;
    overflow: visible;
    bottom: -40px !important;
  }
}
