:root {
  --border-size: 3px;
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), #854df1, #16d0fb 33%, #c11794 66%, #854df1 100%);
}

.test-button {
  position: relative;
  display: flex;
  padding: 8px 20px;
  border-radius: 100px;
  color: black;
  background-color: transparent;
  font-weight: 500;
  z-index: 0;

  &:hover::before {
    animation: bg-spin 2s linear infinite;
  }

  &::before {
    position: absolute;
    content: "";
    inset: -5px;
    z-index: -1;
    border-radius: 100px;
    border: solid 5px transparent;
    //--gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #16d0fb, #c11794 99%, transparent);
    --gradient-border: conic-gradient(
      from var(--border-angle),
      transparent 10%,
      #16d0fb,
      #854df1 45%,
      #c11794 75%,
      transparent 100%
    );

    background:
      var(--main-bg) padding-box,
      var(--gradient-border) border-box,
      var(--main-bg) border-box;
    background-position: center center;
    background-repeat: no-repeat;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
