main {
  min-height: 90vh;
}

header,
section,
footer {
  @apply px-40;

  .container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto !important;
  }
}

section {
  position: relative;
  @apply py-120;

  // &:first-of-type {
  //   margin-top: var(--header-height);
  // }

  .s-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.s-hero {
  @apply relative text-white;
  min-height: 60vh;

  &__visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-90deg, rgba(#000, 0.1) 0%, rgba(#000, 0.6) 100%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    padding-top: 180px;
    padding-bottom: 200px;
  }
}

.card-gradient-border {
  position: relative;
  padding: 14px;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &::before {
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 20px;
    padding: 4px; /* border thickness */

    mask:
      linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -webkit-mask:
      linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -moz-mask:
      linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    -moz-mask-composite: xor;

    mask-composite: exclude;

    clip-path: polygon(9% 64%, 96% 44%, 100% 44%, 100% 100%, 0 100%, 0 64%);

    z-index: -1;
    @screen sm {
      background: var(--gradient);
    }
  }

  &__content {
    height: calc(100% - 40px);
    border-radius: 20px;
    text-align: left;
    background: white;
    padding: 40px 10px;
    @screen sm {
      padding: 40px;
    }
  }

  &--emergency {
    position: relative;
    width: 100vw;
    margin: -40px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    z-index: 2;
    @screen lg {
      position: absolute;
      top: -270px;
      right: 3%;
      max-width: 550px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
}

.deco-gradient {
  width: 200px;
  height: 4px;
  border-radius: 5px;
  background: var(--gradient);
  margin-block: 25px;
}
