main {
  min-height: 90vh;
}

header, section, footer {
	@apply px-40;

	.container {
		position: relative;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}
}

section {
	position: relative;
	@apply py-60;

  &:first-of-type {
    margin-top: var(--header-height);
  }

	.s-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.s-hero {
  @apply relative text-white;
  min-height: 60vh;

  &__visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-90deg, rgba(#000, 0.1) 0%, rgba(#000, 0.6) 100%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
  }
}