.s-partners {
  &__visual {
    padding-bottom: 100px;
    display: flex;
    min-width: 60px;
    max-width: 150px;
    height: 110px;
    @screen sm {
      height: 150px;
    }
    img {
      margin-block: 15px;
      max-height: 100%;
      object-fit: contain;
    }
  }
  .swiper-pagination {
    width: 100%;
    text-align: right;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: #16cffb;
    position: relative !important;
    bottom: -5px !important;
  }
}
