.s-partners {
  &__visual {
    padding-bottom: 100px;
    display: flex;
    min-width: 80px;
    max-width: 140px;
    height: 110px;
    @screen sm {
      height: 140px;
    }
    img {
      margin-block: 15px;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .swiper-logos {
    padding-block: 20px;
  }

  .swiper-pagination {
    width: 100%;
    text-align: right;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: #16cffb;
    position: relative !important;
    bottom: -20px !important;
  }
}
