.menu {
    @apply bg-primary-800;
    width: 200px;
    @media (max-width: 900px) {
        position: absolute;
        z-index: 10
    }
    &-closer, &-opener {
        cursor: pointer;
        @media(min-width: 900px) {
            display: none;
        }
    }
    &-subtitle {
        @apply text-primary-600 uppercase;
        font-size: 12px;
        font-weight: bold;
        padding-left: 20px;
        padding-top: 25px;
    }
    &-link {
        @apply text-white block border-b border-primary-700 transition-colors;
        font-size: 15px;
        font-weight: 400;
        padding-left: 40px;
        padding-top: 9px;
        padding-bottom: 8px;
        &.router-link-active {
            @apply bg-primary-700
        }
        &:hover {
            @apply bg-primary-700
        }
    }
    &-backdrop {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100vh;
        opacity: 0.5;
        display: none;
        @media (max-width: 900px) {
            display: block;
        }
    }
}
