:root {
    --primary-50: 180 138 114;
    --primary-100: 247 211 193;
    --primary-200: 242 182 153;
    --primary-300: 236 153 112;
    --primary-400: 254 220 209;
    --primary-500: 254 95 30;
    --primary-600: 239 99 56;
    --primary-700: 254 191 171;
    --primary-800: 254 156 125;
    --primary-900: 236 145 116;
    --primary-950: 91 56 45;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}
